<div class="col-span-1 row-span-3 bg-white rounded-xl shadow-xl p-4 -ml-6 hidden md:block">
    <h1 class="text-md">Favoriete locaties:</h1>
    <p class="text-sm">(Hier staan favoriete locaties)</p>
</div>