@using trashtracker1.Components.Code

<div class="col-span-2 row-span-3 flex flex-col gap-5">
    <div class="bg-white rounded-xl shadow-xl p-4 h-full">
        <h1 class="text-md">Locatie met meeste afval:</h1>
        <p class="text-sm">@litterFilters.location</p>
    </div>
    <div class="bg-white rounded-xl shadow-xl p-4 h-full">
        <h1 class="text-md">Hoeveelheid afval op locatie met meeste afval:</h1>
        <p class="text-sm">@litterFilters.LitterAmount</p>
    </div>
    <div class="bg-white rounded-xl shadow-xl p-4 h-full">
        <h1 class="text-md">Hoeveelheid afval op gefilterde locatie:</h1>
        <p class="text-sm">@litterFilters.filteredLitterAmount</p>
    </div>
</div>

@code {
    [Inject] IJSRuntime JSRuntime { get; set; }

    [Inject]
    private LitterFilters litterFilters { get; set; }

    protected override void OnInitialized()
    {
        litterFilters.location = litterFilters.MostLitterLocation();
        litterFilters.LitterAmount = litterFilters.MostLitterAmount();
        litterFilters.filteredLitterAmount = litterFilters.FilteredLitterAmount();
    }
    public void GetLitterData(int days, string typeOfLitter)
    {
        litterFilters.litterData.Clear();
        for (int i = 0; i < days; i++)
        {
            litterFilters.litterData.Add(litterFilters.rnd.Next(0, 100));
        }
        litterFilters.Values = litterFilters.litterData.ToArray();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetLitterData(7, "everybody");
            litterFilters.GetLitterData(7, 1);
            await JSRuntime.InvokeVoidAsync("renderLineChart", litterFilters.Labels, litterFilters.Values, litterFilters.ChartTitle);
        }
    }
}