<header class="bg-white py-1 header">
    <div class="w-full mx-0 px-4">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/2 mb-0 lg:mb-0 flex items-center">
                <!-- Voeg hier je logo of afbeelding toe -->
                <img src="images/logo.png" alt="AfvalTracker Logo" class="w-16 h-16 mr-4">
                <h1 class="text-3xl">AfvalTracker</h1>
            </div>
            <div class="w-full lg:w-1/2 flex items-center justify-end">
                <!-- Overige content -->
                <NavLink href="/Handleiding" class="no-underline text-black">
                    <p class="cursor-pointer">Handleiding</p>
                </NavLink>
                <NavLink href="/Handleiding" class="no-underline text-black">
                    <img src="images/Handleiding.png" alt="AfvalTracker Logo" class="w-6 h-6 ml-2  mr-4">
                </NavLink>
                <NavLink href="/Login" class="no-underline text-black">
                        <p class="cursor-pointer">Uitloggen</p>
                </NavLink>
                <NavLink href="/Login" class="no-underline text-black">
                    <img src="images/uitloggen.png" alt="AfvalTracker Logo" class="w-6 h-6 ml-2 mr-4">
                </NavLink>
            </div>
        </div>
    </div>
</header>