<header class="bg-white py-1 header">
    <div class="container mx-0 px-4">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/2 mb-0 lg:mb-0 flex items-center">
                <!-- Voeg hier je logo of afbeelding toe -->
                <img src="images/logo.png" alt="AfvalTracker Logo" class="w-16 h-16 mr-4">
                <h1 class="text-3xl">AfvalTracker</h1>
            </div>
            <div class="w-full lg:w-1/2">
                <!-- Overige content -->
            </div>
        </div>
    </div>
</header>