@inherits LayoutComponentBase

<div class="page-body">
    <main>
            <Header />
            @Body
            <Footer />
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>