@inherits LayoutComponentBase

<div class="page-body">
    <main>
        <div class="w-full mx-auto bg-white">
            <Header />
            @Body
            <Footer />
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>