@page "/Handleiding"

<PageTitle>Handleiding</PageTitle>

<div class="bg-white min-h-screen py-6">

    <div class="bg-gray-100 mx-auto w-full max-w-6xl rounded-xl shadow-lg p-12 min-h-[90vh] flex flex-col">

        <div class="bg-white w-full rounded-xl shadow-lg p-6 flex-1 space-y-6">
            <p class="text-2xl font-semibold">Handleiding:</p>

            <div class="space-y-4">
                <p>
                    Binnen de <strong>AfvalTracker-webapplicatie</strong> kunt u analyses terugvinden over het gedetecteerde zwerfafval op een specifieke locatie.
                </p>

                <p class="text-2xl font-semibold">Dashboardpagina:</p>

                <p>
                    Op de dashboardpagina ziet u links bovenaan een <strong>heatmap</strong> waarop te zien is op welke locaties afval is gedetecteerd.
                </p>
                <p>
                    Rechts bovenaan kunt u via een <strong>uitklapbaar menu</strong> schakelen tussen historische en toekomstige data, en omgekeerd.
                </p>
                <p>
                    Aan de rechterkant van de pagina vindt u drie <strong>informatieve tegels</strong>:
                </p>
                <ul class="list-disc list-inside ml-4">
                    <li>De hoeveelheid afval op de gefilterde locatie</li>
                    <li>De locatie met het meeste afval</li>
                    <li>De hoeveelheid afval op die locatie</li>
                </ul>
                <p>
                    Onderaan de pagina ziet u links een <strong>grafiek</strong> die de historische data of een toekomstige voorspelling toont.
                </p>
                <p>
                    Rechts kunt u de grafiek <strong>filteren</strong> op dagen of afvalclassificaties, zoals papier en plastic. Ook ziet u hier of er <strong>feestdagen</strong> binnen de geselecteerde periode vallen.
                </p>
            </div>
        </div>

    </div>

</div>



