@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering]
<PageTitle>Home</PageTitle>

<div class="p-12">

    <div class="grid grid-cols-6 grid-rows-5 gap-x-12 gap-y-6 h-full">
        @* MAP *@
        <MapModule/>
        @* Statestieken *@
        <StatsModule/>
        @* Favoriete locaties *@
        <FavouriteLocationsModule />
        @*Grafiekies*@
        <GraphModule/>
        @*Filters en feestdagen*@
        <FiltersModule/>
    </div>
</div>




