@page "/"
@page "/Home"
@using trashtracker1.Components.HelperServices.API
@rendermode InteractiveServer
@attribute [StreamRendering]
@using trashtracker1.Components.HelperServices
@inject trashtracker1.Components.HelperServices.API.ApiClient ApiClient
@inject trashtracker1.Components.HelperServices.LitterFilters litterFilters
@using trashtracker1.Components.HelperServices.API.Dto

<PageTitle>Home</PageTitle>


@code {
    private List<LitterDto> predictions = new();

    protected override async Task OnInitializedAsync()
    { 
        await litterFilters.MakeApiCall();
        predictions = await ApiClient.GetLitterAsync();
    }
}

<div class="p-12">

    <div class="flex flex-col md:grid md:grid-cols-6 md:grid-rows-5 md:gap-x-12 md:gap-y-6 h-full max-w-[1920px] mx-auto gap-2">
        @* MAP *@
        <MapModule Predictions="predictions"/>
        @* Statistieken *@
        <StatsModule />
        @* Favoriete locaties *@
        <FavouriteLocationsModule />
        @* Grafiekjes *@
        <GraphModule />
        @* Filters en feestdagen *@
        <FiltersModule />
    </div>

</div>




