@page "/Login"
<PageTitle>Login</PageTitle>
<div class="flex items-center justify-center">
    <div class="w-[65%] h-[70vh] my-5 p-6 bg-gray-100 rounded-xl flex items-center justify-center">
        <div class="w-[35%] h-[55%] p-6 bg-white shadow-xl rounded-xl flex flex-col">
            <p class="font-medium text-md text-center mb-4">Inloggen</p>
            <input type="email" placeholder="Email" class="px-2 mb-4 py-1 rounded-xl bg-gray-100 border-gray-400 w-full flex items-center" />
            <input type="password" placeholder="Wachtwoord" class="px-2 mb-4 py-1 rounded-xl bg-gray-100 border-gray-400 w-full flex items-center" />
            <div class="flex-grow"></div>
            <div class="flex justify-end">
                <button class="px-4 py-1 w-1/2 rounded-xl bg-gray-100 border border-gray-400 text-md">Login</button>
            </div>
        </div>
    </div>
</div>
