* {
  font-family: "Fredoka", sans-serif;
}

h1,h2,h3,h4,h5,h6  {
  color: #597753 !important;
}


.header {
  background: #FFFFFF;
  box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-bottom: 100px;
  h1 {
    font-weight: normal;
  }
}
